body{
    padding: 0;
    margin: 0;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    color: #1c202b;
}

.main{
    width: 480px;
    display: block;
    padding: 1.5em;
    padding-top: 0.5em;
    border-radius: 10px;
    box-shadow: 0 15px 20px 10px rgba(0,0,0,0.15);
}

.hero{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.notification{
    display: flex;
}

.notification__count{
    display: flex;
    align-items: center;
    background-color: #0a317b;
    width: 22px;
    height: 18px;
    border-radius: 2px;
    align-content: center;
    justify-content: center;
    margin-left: 4px;
    margin-top: 18px;
    color: #ffffff;
}

.mark {
    cursor: pointer;
    margin-top: 18px;
}

.mark:hover{
    color: #0a317b;
}

.main-js__image{
    width: 40px;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 0.8em;
}

.main-js__text{
    display: block;
}

.main-js__text__content{
    display: flex;
    margin-left: 10px;
}

.main-js__text--data{
    margin-bottom: -5px;
}

.main-js__text--time{
    color: #939dae;
    margin-left: 10px;
    margin-top: 0;
    padding-top: 0;
}

.main-js__content__img-text{
    padding-right: 0;
    margin-right: 0;
}


.main-js__message--text{
    display: none;
    box-sizing: border-box;
    text-align:inherit;
    margin-left: 10px;
    background-color: #dde7ee;
    border-radius: 6px;
    padding: 0.8em;
    color: #5e6778;
}

.active-text{
    display: inherit;
    cursor: pointer;
    transition: 0.12s;
}

.main-js__image--comment{
    width: 40px;
    margin-left: 110px;
}

.main-js{
    padding-bottom: 0.7em;
}

.main-js__content{
    display: flex;
    background-color: #e5effa;
    border-radius: 6px;
    cursor:pointer;
}

.unseen{
    color: #f65351;
    transition: 0.7s;
}

.seen{
    display: none;
}


.inactive{
    background-color: #ffffff;
    cursor: inherit;
    transition: 0.8s;
}

.main-js__text--gray{
    color: #5e6778;
}

.main-js__text--hover{
    font-weight: bold;
    cursor: pointer;
    padding-right: 0;
}

.main-js__text--hover:hover{
    color: #0a317b;
}